.mat-card {
    width: 400px; /* Set the desired width */
    margin: 20px auto; /* Center the card horizontally with some margin */
  }
  
  .mat-card-header {
    background-color: #f5f5f5; /* Set a light background color for the header */
  }
  
  .mat-card-content {
    padding: 16px; /* Add some padding inside the card content */
  }
  
  .modal-content {
    /* Add styles specific to your modal content */
  }
  
  /* Add any other styles as needed */
.hooksContainer{
  padding: 0.5em 1em;
}