.taskContainer {
    border: 1px solid #ccc;
    padding: 1em;
    background-color: aqua;
    width: 20em;
    margin: 0.5em;
    display: flex;
    align-items: center;
  }
  
  .content {
    display: flex;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .title {
    flex: 1;
    margin-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .status {
    flex: 1;
    margin-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  button {
    margin-left: auto;
  }
  