<div class="taskContainer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-checkbox [checked]="task.CHECKED" *ngIf="!task.CHECKED && task.STATUS !== 'COMPLETED'" (change)="onCheckboxChange($event, task)"></mat-checkbox>
    <div class="content">
      <div class="title" appHighLightElement>{{task.TITLE}}</div>
      <div class="status">{{task.STATUS}}</div>
    </div>
    <button mat-icon-button *ngIf="!task.DELETE" (click)="deleteTask($event, task)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  