.bestsellers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .bestseller-card {
    flex: 1 1 30%;
    margin: 10px;
    box-sizing: border-box;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  mat-card img {
    max-height: 200px;
    object-fit: contain;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  