<div class="loginComponent">
  <form #form (ngSubmit)="onSubmit()" class="loginForm">
      <div class="row">
          <label for="name" class="label">Username:</label>
          <input type="text" id="name" name="name" [(ngModel)]="name" class="userInput" />
      </div>
      <div class="row">
          <label for="password" class="label">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" class="userInput" />
      </div>
      <div class="row">
          <button type="submit" class="submitButton">Submit</button>
      </div>

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  <div class="note">Use admin username: 'admin' and password: 'admin' to log in as an admin.</div>
  </form>
</div>
