.taskContainer{
    display: flex;
    padding: 0.5em 1em;
    .taskListContainer{
        // width: 50%;
    }
    .taskCompletedOrDeleted{
        // width: 50%;
        margin-left: 10%;
    }
    .taskList{
        height:20em;
        overflow: scroll;
    }
    .disabled{
        pointer-events: none;
        opacity: 0.5;
    }
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    //cursor: none; /* Hide cursor */
}