<p>child works!</p>
<div class="inputValueFromParent">
  <b> Parent Input value in child : </b>
  {{ _inputValueFromParent }}
</div>
<span> Child Input Box For change event : </span>
<input (change)="onChangeInput($event)" />
<br/>
<span class="childValue">
  <b>childValue using Subject :</b> {{ childInputValueUsingSubject }}
</span>
<br/>
<span> Child Input Box For ngModelChange : </span>
<input
  [(ngModel)]="childInputValueUsingNgModelChange"
  (ngModelChange)="onChangeInputByNgModel($event)"
/>
<div class="childInputValueUsingNgModelChange">
  <b>child value using ng Model change</b>
  {{ childInputValueUsingNgModelChange }}
</div>
